### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import pathlib

# File to Load (Remember to Change These)
file_to_load = pathlib.Path("Resources/purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_raw_df = pd.read_csv(file_to_load)
purchase_raw_df.head()

#780 rows, 7 columns

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Display total number of players
unique_players = pd.Series(purchase_raw_df["SN"]).unique()
player_count = {"Total Players": [len(unique_players)]}
player_count_df = pd.DataFrame(data=player_count)
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Run calculations to obtain number of unique items, avg price, number of purchase, total revenue
unique_items = len(pd.Series(purchase_raw_df["Item ID"]).unique())
average_price = purchase_raw_df["Price"].mean()
number_purchases = len(pd.Series(purchase_raw_df["Purchase ID"]))
total_revenue = purchase_raw_df["Price"].sum()

# Create summary data frame to hold results
purchase_summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items], 
    "Average Price": [average_price], 
    "Number of Purchases": [number_purchases], 
    "Total Revenue": [total_revenue]})

# Display data in cleaner format
purchase_summary_df.style.format({
    "Average Price": "${:.2f}",
    "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Create data frame of unique players grouped by gender
unique_players_df=purchase_raw_df.drop_duplicates(subset=["SN"])
gender_unique_df = unique_players_df.groupby(["Gender"])

# Run calculations for total count and percentage of players by gender
total_gender_count = gender_unique_df["Gender"].count()
percentage_players_gender = gender_unique_df["Gender"].count() / unique_players_df["Gender"].count() * 100

# Create summary data frame to hold results
gender_summary_df = pd.DataFrame({
    "Total Count": total_gender_count,
    "Percentage of Players": percentage_players_gender})
            
# Sort data by total count
gender_sorted_df = gender_summary_df.sort_values(["Total Count"], ascending=False)

# Display data in cleaner format
gender_sorted_df.style.format({
    "Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Create data frame of all purchases grouped by gender
gender_all_df = purchase_raw_df.groupby(["Gender"])

# Run calculations for purchase count, avg purchase price, total purchase value, avg purchase per person
purchase_count = gender_all_df["Purchase ID"].count()
avg_purchase_price = gender_all_df["Price"].mean()
total_purchase_value = gender_all_df["Price"].sum()
total_gender_count = gender_all_df.nunique()["SN"]
avg_purchase_per_person = total_purchase_value / total_gender_count

# Create summary data frame to hold results
gender_purchase_summary_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_value,
    "Avg Total Purchase per Person": avg_purchase_per_person})

# Sort data by purchase count
gender_purchase_sorted_df = gender_purchase_summary_df.sort_values(["Purchase Count"], ascending=False)

# Display data in cleaner format
gender_purchase_sorted_df.style.format({
    "Average Purchase Price": "${:,.2f}",
    "Total Purchase Value": "${:,.2f}",
    "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Establish bins and group names for ages
bins_to_cut = [0, 9.9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize players into age bins
unique_players_df["Age Groups"] = pd.cut(
    x=unique_players_df["Age"],
    bins=bins_to_cut,
    labels=group_names,
    include_lowest=True)

# Run calculations for total count of players and percentage of players by age groups 
total_count_age = unique_players_df["Age Groups"].value_counts()
percentage_players_age = (unique_players_df["Age Groups"].value_counts() / len(unique_players_df)) * 100

# Create data frame to hold results
age_summary_df = pd.DataFrame({
    "Total Count": total_count_age,
    "Percentage of Players": percentage_players_age})
                  
# Sort data by age groups
age_sorted_df = age_summary_df.sort_index(ascending=True)

# Display data in cleaner format
age_sorted_df.style.format({
    "Percentage of Players": "{:.2f}%"})

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Categorize purchases into age bins
purchase_raw_df["Age Groups"] = pd.cut(
    x=purchase_raw_df["Age"],
    bins=bins_to_cut,
    labels=group_names,
    include_lowest=True)

# Create data frame of purchases grouped by age groups
age_groupby_df = purchase_raw_df.groupby(["Age Groups"])

# Run calculations for purchase counts, avg purchase, total purchase, avg purchase per person by age groups
purchase_count_age = age_groupby_df["Purchase ID"].count()
avg_purchase_age = age_groupby_df["Price"].mean()
total_purchase_age = age_groupby_df["Price"].sum()
total_age_count = age_groupby_df.nunique()["SN"]
avg_purchase_person_age = total_purchase_age / total_age_count

# Create data frame to hold results
purchasing_age_summary_df = pd.DataFrame({
    "Purchase Count": purchase_count_age,
    "Average Purchase Price": avg_purchase_age,
    "Total Purchase Value": total_purchase_age,
    "Avg Total Purchase per Person": avg_purchase_person_age})

# Sort data by age groups
purchasing_age_sorted_df = purchasing_age_summary_df.sort_index(ascending=True)

# Display data in cleaner format
purchasing_age_sorted_df.style.format({
    "Average Purchase Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}",
    "Avg Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Create data frame of purchases grouped by players
player_groupby_df = purchase_raw_df.groupby(["SN"])

# Run calculations for purchase count, avg purchase, total purchase by spender
purchase_count_spender = player_groupby_df["Purchase ID"].count()
avg_purchase_spender = player_groupby_df["Price"].mean()
total_purchase_spender = player_groupby_df["Price"].sum()

# Create data frame to hold results
top_spenders_summary_df = pd.DataFrame({
    "Purchase Count": purchase_count_spender,
    "Average Purchase Price": avg_purchase_spender,
    "Total Purchase Value": total_purchase_spender})

# Sort data by total purchase value
top_spenders_sorted_df = top_spenders_summary_df.sort_values(["Total Purchase Value"], ascending=False).head()

# Display data in cleaner format
top_spenders_sorted_df.style.format({
    "Average Purchase Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Create data frame of purchases grouped by item ID and item name
popular_items_df = purchase_raw_df[["Item ID", "Item Name", "Price"]]
popular_groupby_df = popular_items_df.groupby(["Item ID", "Item Name"])

# Run calculations for purchase count, total purchases and item price
purchase_count_popular = popular_groupby_df["Price"].count()
total_purchase_popular = popular_groupby_df["Price"].sum()
item_price_popular = total_purchase_popular / purchase_count_popular

# Create data frame to hold results
popular_item_summary = pd.DataFrame({
    "Purchase Count": purchase_count_popular,
    "Item Price": item_price_popular,
    "Total Purchase Value": total_purchase_popular})

# Sort data by purchase count
popular_item_sorted = popular_item_summary.sort_values(["Purchase Count"], ascending=False).head()

# Display data in cleaner format
popular_item_sorted.style.format({
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sort data by total purchase value
profitable_item_sorted = popular_item_summary.sort_values(["Total Purchase Value"], ascending=False).head()

# Display data in cleaner format
profitable_item_sorted.style.format({
    "Item Price": "${:.2f}",
    "Total Purchase Value": "${:.2f}"})